* {
    font-family: "Montserrat", sans-serif;
}

#waybar {
    background: #2b1b2f;
    border-bottom: 2px solid #e75480;
    color: #f8f8f2;
}

#workspaces {
    background: #2b1b2f;
}

#workspaces button {
    color: #f8f8f2;
    background: transparent;
    border: 1px solid #e75480;
    border-radius: 5px;
    padding: 3px 6px;
    margin: 0 2px;
}

#workspaces button.active {
    background: #ff69b4;
    color: #2b1b2f;
}

#clock,
#network,
#language,
#temperature,
#bluetooth,
#memory,
#pulseaudio,
#keyboard-state,
#custom-power,
#mpris,
#cpu {
    color: #ff69b4;
}

#clock:hover,
#network:hover,
#language:hover,
#temperature:hover,
#bluetooth:hover,
#memory:hover,
#pulseaudio:hover,
#keyboard-state:hover,
#custom-power:hover,
#mpris:hover,
#cpu:hover {
    color: #ff1493;
}

#custom-power {
    margin-right: 8px;
}
