* {
    font-family: "Montserrat", sans-serif;
}

#waybar {
    background: #2b1b2f;
    border-bottom: 2px solid #e75480;
    color: #f8f8f2;
}

#workspaces {
    background: #2b1b2f;
}

#workspaces button {
    color: #f8f8f2;
    background: transparent;
    border: 1px solid #e75480;
    border-radius: 5px;
    padding: 3px 6px;
    margin: 0 2px;
}

#workspaces button.active {
    background: #ff69b4;
    color: #2b1b2f;
}

#clock {
    color: #ffb6c1;
    font-weight: bold;
}

#clock,
#network,
#language,
#temperature,
#bluetooth,
#memory,
#pulseaudio,
#keyboard-state,
#custom-power,
#mpris,
#cpu {
    color: #ff69b4;
}

#clock:hover,
#network:hover,
#language:hover,
#temperature:hover,
#bluetooth:hover,
#memory:hover,
#pulseaudio:hover,
#keyboard-state:hover,
#custom-power:hover,
#mpris:hover,
#cpu:hover {
    color: #ff1493;
}

#hardware #temperature,
#hardware #memory {
    margin-left: 8px;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: #2b1b2f;
    border: 1px solid #e75480;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: #ff69b4;
}
#pulseaudio-slider:hover highlight {
    background: #ff1493;
}
